.banner-caption {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  max-width: 90%;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .banner-caption {
    bottom: 2.5rem;
    left: 2.5rem;
    font-size: 1.875rem;
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .banner-caption {
    bottom: 18rem;
    left: 8rem;
    font-size: 2.25rem;
    max-width: 40%;
  }
}
