.upComingImg{
background-image:url("../../../assets/Home/menu/blur-1.png") ;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.upComingImg2{
background-image:url("../../../assets/Home/menu/blur-2.png") ;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}